<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        id        = "dk.absorb.www"
        version   = "0.0.1">

    <!-- versionCode is optional and Android only -->

    <name>Absorb Magazine</name>

    <description>
        Absorb Magazine: Statistics 
    </description>

    <author href="http://www.absorbmagazine.dk" email="info@absorbmagazine.com">
        Emile
    </author>
    
    <preference name="orientation" value="landscape" />
    <preference name="phonegap-version" value="2.7.0" />
	<preference name="target-device" value="tablet" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="false" />
	<preference name="exit-on-suspend" value="true" />
	<preference name="show-splash-screen-spinner" value="false" />
	<preference name="EnableViewportScale" value="true" />
	

	<icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
	<icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />

	<!-- retina iPad support: PhoneGap 2.5.0+ only -->
	<icon src="icons/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />
	
	
	<gap:splash src="splash/ios/Default.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="splash/ios/Default_at_2x.png" gap:platform="ios" width="640" height="960" />
	<gap:splash src="splash/ios/Default_iphone5.png" gap:platform="ios" width="640" height="1136" />
	<gap:splash src="splash/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="748" />
	<gap:splash src="splash/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1004" />

	<!-- retina iPad support: PhoneGap 2.5.0+ only -->
	<gap:splash src="splash/ios/Default-Landscape_at_2x.png" gap:platform="ios" width="2048" height="1496" />
	<gap:splash src="splash/ios/Default-Portrait_at_2x.png" gap:platform="ios" width="1536" height="2008" />
	
	
</widget>