
/* CSS Document */

 body {
            /* Setting body margins to 0 to have proper positioning of #container div */
            margin: 0;
			 width: 1024px;
            height: 768px;
	
			
			
           

        }
 
 
  /* Remove Flicker on changepage */
 
 .ui-page {
-webkit-backface-visibility: hidden;

}
		

}


  /* #container div with absolute position and 100% width and height so it takes up whole window */
        #container {
		
			-webkit-backface-visibility: hidden;
			position: absolute;
            width: 100%;
            height: 100%;
			
			
           
        }

		#port	{
			
-webkit-backface-visibility: hidden;
height:768px;
overflow:hidden;

		}

			#video-port	{




		}
		#mainpage	{
		
			
			-webkit-backface-visibility: hidden;
			
				


				}


				#editorial	{



		}
 /* Phonegap specific*/		
		* {
text-shadow: none !important;
-webkit-box-shadow: none !important;
-webkit-border-radius:0 !important;
-webkit-border-top-left-radius:0 !important;
-webkit-border-bottom-left-radius:0 !important;
-webkit-border-bottom-right-radius:0 !important;
-webkit-border-top-right-radius:0 !important;
}


video{
  
  -webkit-transform:rotate(90deg);
  -webkit-transform-origin:460px 340px;
   position: relative;
    z-index: 0;
 
}
			
#outer  {
	
	
	
}

#port2-nav {

}

#count_nav {
	-webkit-backface-visibility: hidden;
	height:200px;
	position:absolute;
	overflow:hidden;
	overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  border:dashed;

}

#count_nav2 {
	-webkit-backface-visibility: hidden;
	height:768px;
	position:absolute;
	overflow:hidden;
	overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  border:dashed;
  background-color:#093;

}
#imagine1 {
	background-color:#000;
}

#record1 {
	background-color:#000;
}


#credits1 {
	background-color:#000;
}

#port {
	background-image:url(../img/background.png);
	
}

#love1 {
	background-color:#fff;
}
@font-face {
	font-family: Open Sans;
	src: url('../ttf-fonts/opensansboldit-webfont.ttf') format('truetype');
 	font-weight: 400;
	font-style: normal; 
}


#section-head {
	font-family: open sans;
	font-size: 16px;
	text-align: center;
	margin-top: 494px
}

#vertical {
	-webkit-transform:rotate(90deg);
	width: 768px;
   height: 1028px;
   border: 1px solid red;
   margin-left: 130px;
margin-top: -130px;
margin-bottom: -130px;

	
}
	