
/* CSS Document */

 body {
            /* Setting body margins to 0 to have proper positioning of #container div */
            margin: 0;
			 width: 1024px;
            height: 768px;
	
			
			
           

        }
 
 
  /* Remove Flicker on changepage */
 
 .ui-page {
-webkit-backface-visibility: hidden;

}
		

}


  /* #container div with absolute position and 100% width and height so it takes up whole window */
        #container {
		
			
			
           
        }

		#port	{
			


		}

			#video-port	{




		}
		#mainpage	{
		
			
			-webkit-backface-visibility: hidden;
			
				


				}


				#editorial	{



		}
 /* Phonegap specific*/		
		* {
text-shadow: none !important;
-webkit-box-shadow: none !important;
-webkit-border-radius:0 !important;
-webkit-border-top-left-radius:0 !important;
-webkit-border-bottom-left-radius:0 !important;
-webkit-border-bottom-right-radius:0 !important;
-webkit-border-top-right-radius:0 !important;
}


video{
  
  -webkit-transform:rotate(90deg);
  -webkit-transform-origin:460px 340px;
   position: relative;
    z-index: 0;
 
}
			
#outer  {
	
	
	
}

#port2-nav {

}

#count2-nav {
	
	


}

#special {
	
	height:300px;
