@charset "UTF-8";
/* CSS Document */




.ipadscale

{

	-webkit-transform: scale(0.5,0.5);
	-webkit-transform-origin: 0 0;
	
	overflow:visible;
	-webkit-backface-visibility:hidden;
	

}



.centered-content
{

	width: 10%;
    margin: 0 auto;
	-webkit-backface-visibility:hidden;
}

.swiper-container, .swiper-slide {
	
}

.forside

{

	-webkit-transform: scale(2);

}


